<!-- ========== HEADER ========== -->
<header class="header">
  <div class="header__inner">
    <a href="index.html" class="logo">
      <img src="ressources/images/Mistral_logov3_ball_black.png" alt="Mistral Pans" class="logo__img">
      <span class="logo__text">Mistral Pans</span>
    </a>
    
    <nav class="nav">
      <ul class="nav__list">
        <li><a href="boutique.html" class="nav__link" data-page="boutique">Boutique</a></li>
        <li><a href="location.html" class="nav__link" data-page="location">Location</a></li>
        <li><a href="apprendre.html" class="nav__link" data-page="apprendre">Apprendre</a></li>
        <li><a href="galerie.html" class="nav__link" data-page="galerie">Galerie</a></li>
        <li><a href="blog.html" class="nav__link" data-page="blog">Blog</a></li>
        <li><a href="#" class="nav__link" data-modal="contact">Contact</a></li>
      </ul>
      
      <button class="nav__toggle" aria-label="Menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </div>
</header>
